* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.message {
  display: none;
  position: relative;
  z-index: 10;
  margin: 1rem;
  font-family: sans-serif;
  color: #e0e0e0;
}
